    .image-amazing-category a.button,
    .slider-home-three-wrapper .swiper-pagination-bullet-active,
    #nprogress .bar,
    .primary-bg,
    body .woocommerce-form-login button.digits_login_via_otp.woocommerce-Button,
    .widget.side-box-post .article-off .owl-dots .owl-dot.active,
    body .slider-right .owl-dots .active,
    .prk-sticky-add .go-to-add,
    .progress-area .progress-bar,
    .quick_add2cart,
    button.back-to-product,
    button.single_add_to_cart_button,
    .header-mobiter header,
    .search-section select#cat,
    body ul.product-box li.product .prs,
    .prk-size-tab.tabs-form li.active,
    .notifyproduct a.stock_data,
    .product-tooltips li.carter-mobiler i em,
    .button_bodner,
    .select_delivery_time span,
    .prk-main-ratings-opitons .noUi-connect,
    .noUi-horizontal .noUi-handle,
    .content_ask_page .get_back_button,
    .woocommerce-pagination .page-numbers li.current,
    .woocommerce-pagination li .current,
    .widget_woocommerce-widget-layered-nav_brand ul li.chosen a:before,
    .widget_woocommerce-widget-layered-on_stock ul li.chosen a:before,
    .widget_woocommerce-widget-layered-nav_cat ul li.chosen a:before,
    .woocommerce-widget-layered-nav ul li.chosen a:before,
    .widget_woocommerce-widget-layered-nav ul li.chosen a:before,
    .prK_orderby_mobile ul li.is-active::before,
    .prK_orderby_filtering ul li.is-active,
    .woocommerce-pagination ul li .page-numbers.sec_progress_wrapper .sec_progress_bar,
    .woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
    .woocommerce-form-register__submit,
    body #NavMenu .item-navbar.mini_cart a .icon-navbar i::before,
    .wenderfol_archive,
    .price_slider_wrapper .price_slider_amount .button,
    .side-form-search button,
    .prk-shoppingcart-next-contain-links a .border_solid_cart,
    .error-404 span a,
    .prk_open_mini_cart,
    .call_box .call_button,
    .continer .nav-user-dashboard .woocommerce-MyAccount-navigation ul li.is-active::after,
    body.ceckout_page .woocommerce-bacs-bank-details ul li.bic::before,
    body .woocommerce p.woocommerce-thankyou-order-received::before,
    .pay_submit_order form a,
    .pay_submit_order form .button,
    .pay_submit_order form input,
    body .prk_order_confirm ul.order_details li.method::before,
    input[type="radio"]:checked:before,
    input[type="checkbox"]:checked,
    body.ceckout_page div.place-order button#place_order,
    .prk-shoppingcart-next-contain-links a i,
    .prk-shoppingcart-next-contain-links a em,
    .payment_navigtions .checkout-headers ul li::after,
    .foot-dn-app .dn-box,
    .continer-rating .go-insert-comment a,
    .show-insert-question,
    .seller-info-box-header,
    .woocommerce div.product .woocommerce-tabs ul.tabs li.reviews_tab a i,
    .prk_compare_page .misha_loadmore,
    .mail-foot button,
    .parskala.search-section button,
    .prk-factor-button,
    .toolbar_col .toolbar_item.go_up:hover,
    #nav-order .active,
    #top_products_table_compare li a.compare_permalink_product,
    .prk-loginbox #stm-sms-form-holder .stm-login-sms-btn,
    .prk-loginbox #stm-sms-form-holder .stm-sms-confirm--submit,
    .loader-bullet,
    .lists_add_to_cart i::before,
    .services_box article:hover,
    .prk-plus.prk-account .account,
    .page-promotes::after,
    .product-item-link i,
    .col-product.wee .product_wee .wee_tumbnail::before,
    .promotion-categories .categorys_item article:hover,
    .lists_product .swiper-slide.swiper-slide-active .product-lists::before,
    .lists_product .lists_add_to_cart,
    .mcarousel_product_head h4::before,
    .swiper_item_promotion_produt .swiper-slide-thumb-active span,
    .swiper_item_promotion_produt .swiper-slide-thumb-active span::before,
    .mcarousel_product .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main,
    .promotion_produt .go_more_link,
    .swiper_promotion_produt::before,
    .swiper_promotion_produt .swiper-slide.promotion_item::after,
    .go_link_view,
    .index-discount-pro,
    .cart-btn em,
    .button-insert-question,
    .insert-better,
    .switch input:checked+.slider,
    .insert-feed,
    .cart-pro .sale-off-pro,
    .cart-pro .sale-off-pro del,
    #respond .form-submit #submit,
    .header-carter .close-box:hover,
    .wishlist_table .product-add-to-cart a,
    .go-insert-comment a:hover,
    .item-navbar.active::before,
    .top-nav .mega-menus:hover .sub-menu:nth-child(2) li::before,
    .progress-bar-value,
    .product-cart,
    .woocommerce-notices-wrapper .woocommerce-message a,
    .toolbar_col.active .toolbar_item,
    .woocommerce .cart-order-user table.shop_table td.actions .coupon button,
    .woocommerce .cart-order-user table.shop_table td.actions button:hover,
    .woocommerce .cart-order-user table.shop_table td.actions button,
    .woocommerce .cart-order-user table.shop_table td.actions button:hover,
    .woocommerce .checkout_coupon button,
    .woocommerce-address-fields button.button,
    .woocommerce .tabs-forms .woocommerce-button,
    .mini-cart-user .woocommerce-mini-cart__buttons .wc-forward,
    .woocommerce-checkout .review-order-user .woocommerce-checkout-payment .place-order button.button,
    .support-tab,
    .ques-welcoming,
    .titles-pro::after,
    .woocommerce a.button,
    .toolbar_col.is_middle .toolbar_item,
    a.dokan-btn-info,
    .dokan-btn-info,
    input[type="submit"].dokan-btn-theme,
    a.dokan-btn-theme,
    .dokan-btn-theme,
    .dokan-product-listing .dokan-product-listing-area .dokan-btn,
    .dokan-product-listing .dokan-product-listing-area .dokan-btn,
    .dokan-product-listing .dokan-product-listing-area .dokan-btn,
    .dokan-btn-success,
    .dokan-orders-content .dokan-orders-area #dokan-order-notes .add_note .add_note.btn.btn-sm.btn-theme,
    .dokan-orders-content .dokan-orders-area .order_download_permissions button.revoke_access,
    .mail-foot:hover button,
    .lds-ellipsis span,
    .woocommerce-address-fields .sub-addres-user .button,
    .content-user .address-user-pro .edit,
    .content-user .no-Order-user .no-order-link,
    .content-user .woocommerce-orders-table__row .woocommerce-orders-table__cell .woocommerce-button,
    .content-user .woocommerce-EditAccountForm .sub-account-user .button,
    .woocommerce div.product form.cart .button,
    .top-nav .sub-menu:nth-child(2) li .sub-menu>li>a::before,
    .top-nav .dropdown li::after,
    .add-to-cart.offer .add-to-carter {
      background-color: #f1ab21 !important
    }

    .amazing-item .countdown-unit .number,
    body .slider-amazing .wc-product-item:hover .quick_add2cart.button,
    .prk-static-sidebar .nasa-total-condition-desc strong,
    .post-comment .comment-list .comment .comment-meta .comment-reply a,
    body ul.product-box li.product .prs,
    .col-product .prk-header-divs.prk-header-divs-active i,
    .col-product .prk-header-divs.prk-header-divs-active span,
    .col-product .prk-header-divs:hover i,
    .col-product .prk-header-divs:hover span,
    body .woocommerce div.product .cart-pro .index-prices-pro div .index-discount-pro p,
    body.fashion-style .cart-pro span.index-discount-pro p,
    .modal-menu.digikala .toggle-submenu.opened::after,
    .selected-cities .selectedcty,
    .order-items .order-item .product-img a.go-product,
    .delivery_time_mobile_header span.order-delivery-title i,
    .cart_page .woocommerce-cart-form__contents div.quantity input,
    .cart_page .woocommerce-cart-form__contents div.quantity,
    .asked_btn_icon i,
    body.ceckout_page .woocommerce ul#shipping_method li label .woocommerce-Price-amount,
    body .woocommerce .prk_order_confirm .pay_submit_order form .cancel,
    .add_to_cart_all_main div#add-all-product,
    .payment_navigtions .checkout-headers ul li i,
    .payment_navigtions .checkout-headers ul li p,
    .woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
    .woocommerce div.product .woocommerce-tabs ul.tabs li.active a::before,
    .index-prices-pro div del,
    .off-product.mories .w-categorys-link i,
    .cart-btn-hover i,
    .top-nav .dropdown li ul li ul li a:hover,
    .top-nav .dropdown li ul li ul li a:hover,
    .top-nav .sub-menu:nth-child(2) li .sub-menu>li>a::before,
    .top-nav .dropdown li ul li:hover::before,
    .cart-pro del,
    .cart-pro del span bdi,
    .cart-pro del span,
    .cart-pro del span bdi span,
    .mgrid_product.grid_product .mcarousel_product_head h4 i,
    .carousel_offer .right_carousel h4 i,
    .lists_product .product-lists-body del .woocommerce-Price-amount,
    .location-piker_mob i,
    .account-icon,
    .product-seller-info .product-seller-row .product-seller-row-detail ul li.pluses i,
    .nav-user-dashboard .woocommerce-MyAccount-navigation ul .is-active a,
    .woocommerce span.onsale.prs,
    .prs,
    .product_comment_link,
    .top-nav .mega-menus .sub-menu:nth-child(2) li ul li a:hover,
    .progress-count .p-cont,
    .pro-display-user .p-edit-user span,
    #dokan-store-listing-filter-wrap .right .toggle-view .active,
    .dokan-dashboard-content a.dokan-btn-sm,
    .dokan-btn-sm,
    .dokan-product-listing .dokan-product-listing-area .product-listing-top span.dokan-add-product-link a,
    #comments .comment-forms .text-com i,
    .timer-pros span,
    .pro-display-user .p-edit-user span i,
    .content-user .woocommerce-EditAccountForm .sub-account-user .button.pro-display-user .p-edit-user span,
    .nav-user-dashboard .woocommerce-MyAccount-navigation ul li:hover::before,
    .nav-user-dashboard .woocommerce-MyAccount-navigation ul li:hover a,
    .nav-user-dashboard .woocommerce-MyAccount-navigation ul .is-active::before,
    .head-archie-pro,
    .date-send-pro cite .date-head i,
    .dropdown:nth-child(1) li ul li ul li ul li:hover a,
    .top-nav .dropdown li ul li ul li a:hover {
      color: #f1ab21 !important
    }

    .nasa-subtotal-condition .nasa-total-number,
    body .side-title-post,
    .post-comment .comment-list .comment .comment-meta .comment-reply a,
    .selected-cities .selectedcty,
    .order-items .order-item .product-img a.go-product,
    .cart_page .woocommerce-cart-form__contents div.quantity,
    body .woocommerce .prk_order_confirm .pay_submit_order form .cancel,
    input[type="radio"]:checked,
    input[type="checkbox"]:checked,
    input[type="checkbox"]:checked,
    body.ceckout_page div.place-order button#place_order,
    .add_to_cart_all_main div#add-all-product,
    .seller-info-box-avatar,
    #top_products_table_compare li a.compare_permalink_product,
    .col-product.wee,
    .lists_product .swiper-slide.swiper-slide-active .product-lists,
    .off-product.mories .w-categorys-link i,
    .title-psidebar a,
    .product_comment_link,
    .go-insert-comment a,
    .woocommerce .cart-order-user table.shop_table td.actions button,
    a.dokan-btn-info,
    .dokan-btn-info,
    .dokan-dashboard-content a.dokan-btn-sm,
    .dokan-btn-sm,
    input[type="submit"].dokan-btn-theme,
    a.dokan-btn-theme,
    .dokan-btn-theme,
    .dokan-product-listing .dokan-product-listing-area .product-listing-top span.dokan-add-product-link a,
    .dokan-btn-success,
    .preloader div:before,
    .loader-p:before,
    .loader-p:after,
    .head-archie-pro,
    .woocommerce div.product .woocommerce-tabs ul.tabs li.active,
    .head-pros,
    .titles-pro {
      border-color: #f1ab21 !important
    }

    .misha_loadmore,
    .mini_cart_counter,
    .main-cart .woocommerce-mini-cart__buttons.buttons a.checkout,
    .tabs-panel-mobile .add_comment_mobile,
    .woocommerce-mini-cart__buttons.buttons a:nth-child(2),
    .form_search.active::after,
    .account_mobile .loged,
    .slider-right .owl-dots .active,
    .woocommerce #respond .form-submit #submit,
    .percent-option-rating strong,
    .checkout-headers ul .nav span.actv,
    .checkout-headers.cart ul li.bar:nth-child(2) span,
    .checkout-headers.checkout ul li.bar:nth-child(2) span,
    .checkout-headers.checkout ul li.bar:nth-child(4) span,
    .checkout-headers.thankyou ul li.bar:nth-child(4) span,
    .checkout-headers.thankyou ul li.bar:nth-child(2) span,
    .summary .cart-pro .tab-pro ul li::after,
    .ui-slider .ui-slider-range,
    .index-product .woocommerce-pagination ul .page-numbers.head-side,
    .item-thumb-index .cat-name-index {
      background-color: #e10f0f !important
    }

    .header-mobiter .promote_searchs span,
    .header-mobiter .promote_searchs span i,
    .multi-line .icon-carosel,
    .multi-line .post_grid .number,
    .mini-cart-user .head-mini .cart-mini i,
    .product-tab-nav-mobiles ul li.nav-item_mobile.reviews_tab .view_comment_mobiles,
    .prk-dashboard ul li.woocommerce-MyAccount-navigation-link--customer-logout a,
    .category_searechd .result_category_search span,
    .meta-additional .show-mores,
    .product-seller-info .product-seller-row .product-seller-row-detail ul li::after,
    .sec-pages a,
    .feed-btn.desctop,
    .better-btn i,
    .show-replay-question,
    .parskala-faqs>li:before,
    .see-more-pside,
    .go-back a,
    .product_meta .countes,
    .share-square::before,
    .order-mobile #nav-order-mobile li a.active,
    .woocommerce-thankyou-order-received,
    .checkout-headers ul .nav p,
    .summary .cart-pro .tab-pro.hovr-tab .fa-share-square,
    .taxs-single a,
    #commentform .logged-in-as a:nth-child(2),
    .dashboard-menu ul .frist-li a,
    .dashboard-menu ul li a:hover,
    .item-cat i,
    .item-cat .promotion-cat,
    .mini-cart-user .head-mini .cart-mini::after,
    .mini-cart-user .head-mini .cart-mini {
      color: #e10f0f !important
    }

    .title-information::before,
    .left-product,
    .taxs-single a,
    .side-line-posts,
    .side-form-search input:focus,
    .title-item-index .line-item-index,
    .side-form-search input:active {
      border-color: #e10f0f !important
    }

    .special_send_box .special_content_box ul li::before,
    .continer .date-send-order input[type="radio"]:checked:before,
    .custom_label,
    .continer .nav-user-dashboard .woocommerce-MyAccount-navigation ul li.is-active::after,
    .prk-traking-form-submit input[type=submit],
    .order-delivery-times li input:checked+label b.checkout-deliver-day-itmes::after,
    .dn-app-mobile a,
    .product-tab-nav-mobiles ul li.nav-item_mobile.reviews_tab .insert_comment_mobile,
    .ui-slider .ui-slider-range,
    .page-promotes:hover::after {
      background-color: #0071e3 !important
    }

    .footer-loginbox .copyright-login-footer a.linkp,
    .term-description a,
    .col-single1 .des-info .posted_in a,
    .col-single1 .des-info .tagged_as a,
    body.product-single .product-more-icon-dates a i.done,
    .btns-pro i.btns.done,
    .main-cont .conts p a,
    .foot-core .foot-box.text .show-more,
    .shop_attributes.woocommerce-group-attributes-layout-2 tbody tr th.attribute_group_name i,
    .content-product.single p a,
    body .attr_swatch_design_2.thwvsf-label-li.thwvsf-selected .thwvsf-item-span::before,
    .anchor-link,
    .order-delivery-times li input:checked+label,
    .view-product a,
    .continer .woocommerce .woocommerce-MyAccount-content div.woocommerce-Address header a,
    .prk-next-shoppingcart-card-grp-btn a.add-to-shopping-cart,
    .prk-add-to-next-shopping-list,
    body .woocommerce .continer .content-user .profile-section__more a,
    .user_welcome .account-details,
    body.cart_page.empty .page_shoper ul li a,
    .feed-btn.mobile,
    .product-tab-nav-mobiles ul li.nav-item_mobile.reviews_tab .view_comment_mobiles,
    .wc_mobile_nav_tab .open_ws_tab_mobile,
    .prk-account.active .account-text,
    .call-page i:hover,
    .product-card .product-title a:hover,
    .content_product_view .breadcrumb a,
    .location-piker .my_location,
    .des-location,
    .more_excerpt,
    .disble_excerpt,
    .meta-additional .show-mores,
    .show-less,
    .rating_and_nummbercomment .comments_number p,
    .col-single1 .breadcrumb a,
    .stm-sms-confirm .stm-sms-confirm--retrieve,
    .stm-reset-pass,
    .sec-pages a,
    .better-btn i,
    .feed-btn.desctop,
    .show-replay-question,
    .parskala-faqs>li:before,
    .see-more-pside,
    .nav-user-dashboard .woocommerce-MyAccount-navigation ul li:hover::before,
    .nav-user-dashboard .woocommerce-MyAccount-navigation ul li:hover a,
    .nav-user-dashboard .woocommerce-MyAccount-navigation ul .is-active a,
    .nav-user-dashboard .woocommerce-MyAccount-navigation ul .is-active::before,
    .nav-user-dashboard .woocommerce-MyAccount-navigation ul .is-active a,
    .woocommerce-tabs .tab-all,
    .share-square::before,
    .ui-slider-handle:nth-of-type(1)::before,
    .ui-slider-handle:nth-of-type(2)::before,
    .summary .cart-pro .tab-pro .stockon p,
    .go-back a,
    .product_meta .countes,
    .show-more,
    .timer-pros span,
    .prs,
    .taxs-single a,
    .view-all,
    .prk-dashboard ul li:hover a,
    .continer-login .forgat,
    .footer-login a,
    .prk-dashboard span a,
    .taxs-single a {
      color: #0071e3 !important
    }

    .thwvsf-wrapper-ul .thwvsf-wrapper-item-li.attr_swatch_design_2.thwvsf-selected,
    body .attr_swatch_design_2.thwvsf-label-li.thwvsf-selected .thwvsf-item-span::before,
    .date-send-order input[type="radio"]:checked,
    .continer .woocommerce .woocommerce-MyAccount-content div.woocommerce-Address header a,
    .prk-next-shoppingcart-card-grp-btn a.add-to-shopping-cart,
    .ui-slider .ui-slider-handle,
    .go-back a,
    .taxs-single a,
    .left-product {
      border-color: #0071e3 !important
    }

    .cart-btn i {
      color: #424750 !important
    }

    #icon-menu svg path {
      fill: #545d6e !important
    }

    body .menu-text {
      color: #b4b4b4 !important
    }

    .prk-account .prk-arrow-down-1,
    .account-text,
    .prk-account .account .fi-rr-angle-small-down,
    .account-icon i,
    .prk-plus.prk-account.logined .account-icon i,
    .prk-plus.prk-account .account_mobile .account-icon i,
    .faqs-mobile:before,
    .menu-text {
      color: #424750 !important
    }

    #pencet span {
      background-color: #424750 !important
    }

    .call-page i {
      color: #424750
    }

    .page-promotes li a {
      color: #424750
    }

    body {
      background-color: #F2F2F2 !important
    }

    body .page-promotes.button_box i {
      color: #f30a4952
    }

    body .page-promotes.button_box li {
      background-color: #f30a4926
    }

    body .account {
      border-radius: 11px !important
    }

    .search-section select#cat,
    .form_search #submit_search,
    .search-section {
      border-radius: 11px !important
    }

    body .prk-sms-loginform .modal__container {
      border-radius: 16px !important
    }

    .prk-sticky-add-cart {
      width: 100% !important
    }

    .special_send_box {
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-color: #e8e8e8;
      border-style: solid;
    }

    body.product-archive .subcategories-list .term {
      border-top-width: 1px !important;
      border-right-width: 1px !important;
      border-bottom-width: 1px !important;
      border-left-width: 1px !important;
      border-color: #e4e4e4 !important;
      border-style: solid !important;
    }

    body.product-archive .sides .widget {
      border-top-width: 1px !important;
      border-right-width: 1px !important;
      border-bottom-width: 1px !important;
      border-left-width: 1px !important;
      border-color: #e4e4e4 !important;
      border-style: solid !important;
    }

    body.product-archive .sides .widget {
      border-radius: 11px !important;
    }

    body.product-archive .prk-head-shop {
      border-top-width: 1px !important;
      border-right-width: 1px !important;
      border-bottom-width: 1px !important;
      border-left-width: 1px !important;
      border-color: #E4E4E4 !important;
      border-style: solid !important;
    }

    body.product-archive .prk-head-shop {
      border-radius: 14px !important;
    }

    body.product-archive ul.product-box li.product {
      border-color: E4E4E4
    }

    body.product-archive .footer-description-shop {
      border-top-width: 1px !important;
      border-right-width: 1px !important;
      border-bottom-width: 1px !important;
      border-left-width: 1px !important;
      border-color: #e4e4e4 !important;
      border-style: solid !important;
    }

    body.product-archive .footer-description-shop {
      border-radius: 11px !important;
    }

    body .post-comment .comment-rules {
      border-top-width: 1px !important;
      border-right-width: 1px !important;
      border-bottom-width: 1px !important;
      border-left-width: 1px !important;
      border-color: rgba(89, 214, 235, .1) !important;
      border-style: solid !important;
    }

    body.single-post .side-box-post {
      border-top-width: 1px !important;
      border-right-width: 1px !important;
      border-bottom-width: 1px !important;
      border-left-width: 1px !important;
      border-color: #e4e4e4 !important;
      border-style: solid !important;
    }

    body.single-post .side-box-post {
      border-radius: 11px !important;
    }
 

    /* .logo img {
      max-width: 134px;
    } */
