.elementor-1152 .elementor-element.elementor-element-401a3d7c>.elementor-container {
    max-width: 1350px;
}

.elementor-1152 .elementor-element.elementor-element-401a3d7c>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-1152 .elementor-element.elementor-element-2e815730.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1152 .elementor-element.elementor-element-2e815730.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1152 .elementor-element.elementor-element-2e815730.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-1152 .elementor-element.elementor-element-2e815730>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-a9d6cd2 {
    background-color: #2E0587;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-a9d6cd2 .img-product .dots {
    border-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-a9d6cd2 .img-product .dots::before {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-a9d6cd2 .img-product .dots::after {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-a9d6cd2 .img-product .dots i::before {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-a9d6cd2 .img-product .dots i::after {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-13e0239 {
    background-color: #1C0450;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-13e0239 .img-product .dots {
    border-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-13e0239 .img-product .dots::before {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-13e0239 .img-product .dots::after {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-13e0239 .img-product .dots i::before {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-13e0239 .img-product .dots i::after {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-60867ee {
    background-color: #11042F;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-60867ee .img-product .dots {
    border-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-60867ee .img-product .dots::before {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-60867ee .img-product .dots::after {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-60867ee .img-product .dots i::before {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-60867ee .img-product .dots i::after {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-d66703e {
    background-color: #1C0450;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-d66703e .img-product .dots {
    border-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-d66703e .img-product .dots::before {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-d66703e .img-product .dots::after {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-d66703e .img-product .dots i::before {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-d66703e .img-product .dots i::after {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-3e95c55 {
    background-color: #0AD770;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-3e95c55 .img-product .dots {
    border-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-3e95c55 .img-product .dots::before {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-3e95c55 .img-product .dots::after {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-3e95c55 .img-product .dots i::before {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .elementor-repeater-item-3e95c55 .img-product .dots i::after {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-619662da .gallery.swiper_produt {
    border-radius: 20px;
}

.elementor-1152 .elementor-element.elementor-element-5118d47>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1152 .elementor-element.elementor-element-1b92b4bd .elementor-repeater-item-81e0f43 {
    background-color: #2FE382;
}

.elementor-1152 .elementor-element.elementor-element-1b92b4bd .elementor-repeater-item-aa2ccf0 {
    background-color: #312FE3;
}

.elementor-1152 .elementor-element.elementor-element-1b92b4bd .elementor-repeater-item-33f4564 {
    background-color: #2FE382;
}

.elementor-1152 .elementor-element.elementor-element-1b92b4bd .article_slider {
    border-radius: 20px;
}

.elementor-1152 .elementor-element.elementor-element-2eb83856>.elementor-container {
    max-width: 1350px;
}

.elementor-1152 .elementor-element.elementor-element-2eb83856>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-1152 .elementor-element.elementor-element-2eb83856 {
    margin-top: 0px;
    margin-bottom: 110px;
}

.elementor-1152 .elementor-element.elementor-element-2a11759b.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-1152 .elementor-element.elementor-element-2a11759b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1152 .elementor-element.elementor-element-19ddca2a .elementor-repeater-item-a9a8251 {
    background: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-19ddca2a .services_item {
    border-radius: 11px;
}

.elementor-1152 .elementor-element.elementor-element-19ddca2a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1152 .elementor-element.elementor-element-64f7d7a7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-1152 .elementor-element.elementor-element-6c201347 .services_links {
    border-radius: 11px;
}

.elementor-1152 .elementor-element.elementor-element-6c201347>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1152 .elementor-element.elementor-element-21d7441b>.elementor-container {
    max-width: 1350px;
}

.elementor-1152 .elementor-element.elementor-element-21d7441b {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-1152 .elementor-element.elementor-element-7913dd61>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-1152 .elementor-element.elementor-element-23da7dda .slider-right.ver1 img {
    border-radius: 8px;
}

.elementor-1152 .elementor-element.elementor-element-23da7dda .slider-right.ver1 {
    -webkit-border-radius: 8px;
}

.elementor-1152 .elementor-element.elementor-element-315f60ab .back_caroslel {
    border-radius: 2px 63px 2px 2px;
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-315f60ab>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1152 .elementor-element.elementor-element-3a0b8606 .mini_offer {
    border-radius: 11px;
    background-color: #1A0744;
}

.elementor-1152 .elementor-element.elementor-element-3a0b8606 .mini_offer .product-mini img {
    background-color: #fff;
}

.elementor-1152 .elementor-element.elementor-element-320e45 .elementor-repeater-item-2ac399c {
    background: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-320e45 .categorys_item article {
    border-radius: 11px;
}

.elementor-1152 .elementor-element.elementor-element-320e45>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1152 .elementor-element.elementor-element-19efad11 .promotion_produt {
    border-radius: 11px;
}

.elementor-1152 .elementor-element.elementor-element-19efad11>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1152 .elementor-element.elementor-element-17b3276c .mcarousel_product {
    border-radius: 11px;
}

.elementor-1152 .elementor-element.elementor-element-17b3276c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1152 .elementor-element.elementor-element-2ace3bf3>.elementor-container {
    max-width: 1350px;
}

.elementor-1152 .elementor-element.elementor-element-2ace3bf3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.elementor-1152 .elementor-element.elementor-element-881532b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-1152 .elementor-element.elementor-element-42a39881 .lists_product {
    background-color: #fff;
    border-radius: 11px;
    border-color: #1A0744;
}

.elementor-1152 .elementor-element.elementor-element-a8ab22e .lists_product {
    background-color: #1A0744;
    border-radius: 11px;
}

.elementor-1152 .elementor-element.elementor-element-a8ab22e .lists_product .mcarousel_product_head h4 {
    color: #F7F2F2;
}

.elementor-1152 .elementor-element.elementor-element-a8ab22e .lists_product .mcarousel_product_head span {
    color: #F7F2F2;
}

.elementor-1152 .elementor-element.elementor-element-a8ab22e .lists_product h2.product-title a {
    color: #F7F2F2;
}

.elementor-1152 .elementor-element.elementor-element-a8ab22e .lists_product .product-lists-body del .woocommerce-Price-amount {
    color: #F7F2F2;
}

.elementor-1152 .elementor-element.elementor-element-a8ab22e .lists_product .product-lists-body .index-prices-pro bdi {
    color: #F7F2F2;
}

.elementor-1152 .elementor-element.elementor-element-a8ab22e .lists_product .product-lists-body .index-prices-pro .woocommerce-Price-currencySymbol {
    color: #F7F2F2 !important;
}

.elementor-1152 .elementor-element.elementor-element-2d96d05a .lists_product {
    background-color: #1A0744;
    border-radius: 11px;
}

.elementor-1152 .elementor-element.elementor-element-2d96d05a .lists_product .mcarousel_product_head h4 {
    color: #F7F2F2;
}

.elementor-1152 .elementor-element.elementor-element-2d96d05a .lists_product .mcarousel_product_head span {
    color: #F7F2F2;
}

.elementor-1152 .elementor-element.elementor-element-2d96d05a .lists_product h2.product-title a {
    color: #F7F2F2;
}

.elementor-1152 .elementor-element.elementor-element-2d96d05a .lists_product .product-lists-body del .woocommerce-Price-amount {
    color: #F7F2F2;
}

.elementor-1152 .elementor-element.elementor-element-2d96d05a .lists_product .product-lists-body .index-prices-pro bdi {
    color: #F7F2F2;
}

.elementor-1152 .elementor-element.elementor-element-2d96d05a .lists_product .product-lists-body .index-prices-pro .woocommerce-Price-currencySymbol {
    color: #F7F2F2 !important;
}

.elementor-1152 .elementor-element.elementor-element-7748e273>.elementor-container {
    max-width: 1350px;
}

.elementor-1152 .elementor-element.elementor-element-7748e273 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-1152 .elementor-element.elementor-element-5734d548>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-1152 .elementor-element.elementor-element-433a6fb9 .elementor-repeater-item-44b507f {
    background: radial-gradient(198.62% 757.52% at 100% 50%, #8E1CD3 29.21%, rgba(142, 28, 211, 0) 100%);
}

.elementor-1152 .elementor-element.elementor-element-433a6fb9 .elementor-repeater-item-e64a6bd {
    background: radial-gradient(198.62% 757.52% at 100% 50%, #2FE382 29.21%, rgba(142, 28, 211, 0) 100%);
}

.elementor-1152 .elementor-element.elementor-element-433a6fb9 .elementor-repeater-item-a71c203 {
    background: radial-gradient(198.62% 757.52% at 100% 50%, #1C7BD3 29.21%, rgba(142, 28, 211, 0) 100%);
}

.elementor-1152 .elementor-element.elementor-element-433a6fb9 .daynamic_banner .daynamic_banner_item {
    border-radius: 11px;
}

.elementor-1152 .elementor-element.elementor-element-28a1286b .elementor-repeater-item-2d6f08b {
    background-color: #F2166D;
}

.elementor-1152 .elementor-element.elementor-element-28a1286b .elementor-repeater-item-0734297 {
    background-color: #0040FF;
}

.elementor-1152 .elementor-element.elementor-element-28a1286b .elementor-repeater-item-7933dc3 {
    background-color: #00B088;
}

.elementor-1152 .elementor-element.elementor-element-28a1286b .elementor-repeater-item-fe23314 {
    background-color: #4562C8;
}

.elementor-1152 .elementor-element.elementor-element-28a1286b .elementor-repeater-item-6db9268 {
    background-color: #F1A207;
}

.elementor-1152 .elementor-element.elementor-element-28a1286b .elementor-repeater-item-bfa00f4 {
    background-color: #EF4056;
}

.elementor-1152 .elementor-element.elementor-element-28a1286b .elementor-repeater-item-f2cd711 {
    background-color: #A63489;
}

.elementor-1152 .elementor-element.elementor-element-28a1286b .services-items .item_90s {
    border-radius: 11px;
}

.elementor-1152 .elementor-element.elementor-element-28a1286b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1152 .elementor-element.elementor-element-4aecee61>.elementor-container {
    max-width: 1350px;
}

.elementor-1152 .elementor-element.elementor-element-4aecee61>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1152 .elementor-element.elementor-element-4aecee61:not(.elementor-motion-effects-element-type-background),
.elementor-1152 .elementor-element.elementor-element-4aecee61>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1A0744;
}

.elementor-1152 .elementor-element.elementor-element-4aecee61,
.elementor-1152 .elementor-element.elementor-element-4aecee61>.elementor-background-overlay {
    border-radius: 18px 18px 18px 18px;
}

.elementor-1152 .elementor-element.elementor-element-4aecee61 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 25px 10px 15px;
}

.elementor-1152 .elementor-element.elementor-element-4aecee61>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1152 .elementor-element.elementor-element-22451ff>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2 .main_grid_product .grid_item .post_grid {
    background-color: #23114B;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2 .lists_product {
    border: 1px;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2 .mcarousel_product_head h4 {
    color: #FFFFFF;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2 .grid_product .mcarousel_product_head a {
    color: #FFFFFF;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2 .mcarousel_product_head span {
    color: #FFFFFF;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2 .grid_product h4 {
    color: #FFFFFF;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2 .grid_product .grid_item del .woocommerce-Price-amount {
    color: #FFFFFF;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2 .grid_product .grid_item .index-prices-pro bdi {
    color: #FFFFFF;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2 .grid_product .grid_item .index-prices-pro em {
    color: #FFFFFF;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2 .grid_product .grid_item .index-prices-pro .woocommerce-Price-currencySymbol {
    color: #FFFFFF !important;
}

.elementor-1152 .elementor-element.elementor-element-29a97ec2>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

.elementor-1152 .elementor-element.elementor-element-15dc21a9 .col-product.wee .head-hani h2 {
    color: #F5F5F5;
}

.elementor-1152 .elementor-element.elementor-element-15dc21a9 .col-product.wee .wee_title {
    color: #F5F5F5;
}

.elementor-1152 .elementor-element.elementor-element-15dc21a9 .col-product.wee .breadcrumb a {
    color: #F5F5F5 !important;
}

.elementor-1152 .elementor-element.elementor-element-15dc21a9 .product_wee del .woocommerce-Price-amount {
    color: #F5F5F5;
}

.elementor-1152 .elementor-element.elementor-element-15dc21a9 .product_wee .index-prices-pro bdi {
    color: #F5F5F5;
}

.elementor-1152 .elementor-element.elementor-element-15dc21a9 .product_wee .index-prices-pro em {
    color: #F5F5F5;
}

.elementor-1152 .elementor-element.elementor-element-15dc21a9 .product_wee .index-prices-pro .woocommerce-Price-currencySymbol {
    color: #F5F5F5 !important;
}

.elementor-1152 .elementor-element.elementor-element-15dc21a9 .product_wee .prk_timer span {
    color: #F5F5F5 !important;
}

.elementor-1152 .elementor-element.elementor-element-15dc21a9 .product_wee .prk_timer #timerm span .number {
    color: #F5F5F5 !important;
}

body .elementor-1152 .elementor-element.elementor-element-15dc21a9 .col-product.wee {
    border-color: #FFFFFF;
}

.elementor-1152 .elementor-element.elementor-element-15dc21a9 .col-product.wee {
    border-radius: 25px;
}

.elementor-1152 .elementor-element.elementor-element-3c19c51d>.elementor-container {
    max-width: 1350px;
}

.elementor-1152 .elementor-element.elementor-element-33c7a36a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-1152 .elementor-element.elementor-element-1abfb0f7 .mcarousel_product {
    border-radius: 18px;
}

.elementor-1152 .elementor-element.elementor-element-1abfb0f7>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1152 .elementor-element.elementor-element-33137c54 .right-product.brand {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.elementor-1152 .elementor-element.elementor-element-33137c54 .right-product {
    border-radius: 8px;
}

.elementor-1152 .elementor-element.elementor-element-33137c54 .item-brands {
    width: 65%;
}

.elementor-1152 .elementor-element.elementor-element-33137c54>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-1152 .elementor-element.elementor-element-2e815730 {
        width: 100.35%;
    }

    .elementor-1152 .elementor-element.elementor-element-5118d47 {
        width: 28.48%;
    }

    .elementor-1152 .elementor-element.elementor-element-2a11759b {
        width: 71.35%;
    }

    .elementor-1152 .elementor-element.elementor-element-64f7d7a7 {
        width: 28.48%;
    }

    .elementor-1152 .elementor-element.elementor-element-22451ff {
        width: 100.614%;
    }

    .elementor-1152 .elementor-element.elementor-element-4c8992b7 {
        width: 28.342%;
    }
}